<title>Delete Confirmation</title>

<h3>Are you sure you want to delete this item?</h3>
<form id="deleteForm" method="post" asp-controller="VehicleMake" asp-action="DeleteVehicleMake" asp-route-id="@ViewBag.ItemId">
    <button class="btn btn-warning" type="submit">Yes</button>
    <button class="btn btn-secondary" type="button" onclick="cancelDelete()">No</button>
</form>

<script>
    function cancelDelete() {
        window.history.back();
        alert("Delete canceled.");
    }
</script>
