<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Mono.Service</name>
    </assembly>
    <members>
        <member name="T:Mono.Service.Migrations.Initial">
            <inheritdoc />
        </member>
        <member name="M:Mono.Service.Migrations.Initial.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <inheritdoc />
        </member>
        <member name="M:Mono.Service.Migrations.Initial.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <inheritdoc />
        </member>
        <member name="M:Mono.Service.Migrations.Initial.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <inheritdoc />
        </member>
    </members>
</doc>
